@using Domain
@model IQueryable<Domain.Project> 

@{
    Layout = "_Layout";
}

<div class="container">
    <div>      
        <a asp-controller="Project" asp-action="ProjectAdd">New project</a>
    </div>
    <div>
        @foreach(Project projectModel in Model)
        {                     
             <div class="content">
                  <form class="form" method="post" asp-controller="Project" asp-action="ProjectDelete">
                       <div class="form-control">                           
                           <input type="hidden" value="@projectModel.Id" name="Id" />
                           <div>
                               <div>
                                   <label>Project name:</label>
                                   <label>@projectModel.ProjectName</label>
                               </div>
                               <div>
                                   <label>Company customer:</label>
                                   <label>@projectModel.CompanyCustomer</label>
                               </div>
                               <div>
                                   <label>Company executor:</label>
                                   <label>@projectModel.CompanyExecutor</label>
                               </div>
                               <div>
                                   <label>Date start:</label>
                                   <label>@projectModel.ProjectStart</label>                                   
                               </div>
                               <div>
                                   <label>Project priority:</label>
                                   <label>@projectModel.ProjectPriority</label>
                               </div>
                           </div>
                           <a asp-controller="Manager" asp-action="ProjectInfo">more info...</a>
                           <div class="buttons-panel">
                               <div class="buttons-panel-item">
                                   <a asp-controller="Project" asp-action="ProjectEdit" asp-route-id="@projectModel.Id">Edit</a>
                               </div>
                               <button class="buttons-panel-item">delete</button>
                           </div>
                       </div>                        
                  </form>
             </div>            
        }
    </div>
    <div class="text-center">
        <div>
            <a asp-controller="User" asp-action="UserAdd">Add new employee</a>
        </div>
        <div>
            <a asp-controller="User" asp-action="AllUsers">Show all employees</a>
        </div>
    </div>
</div>
