@using Domain
@using WebApi.ViewModels;
@model InfoViewModel

@{

}

<form class="form" method="post" asp-controller="Project" asp-action="ProjectDelete">
    <div class="form-control">
        <input type="hidden" value="@Model.ProjectModel.Id" name="Id" />
        <div>
            <div>
                <label>Project name:</label>
                <label>@Model.ProjectModel.ProjectName</label>
            </div>
            <div>
                <label>Company customer:</label>
                <label>@Model.ProjectModel.CompanyCustomer</label>
            </div>
            <div>
                <label>Company executor:</label>
                <label>@Model.ProjectModel.CompanyExecutor</label>
            </div>
            <div>
                <label>Date start:</label>
                <label>@Model.ProjectModel.ProjectStart</label>
            </div>
            <div>
                <label>Project priority:</label>
                <label>@Model.ProjectModel.ProjectPriority</label>
            </div>

            @foreach (User modelUser in Model.Users.Where(u => u.ProjectId == Model.ProjectModel.Id))
            {
                <div>
                    <div>
                        <label>@modelUser.UserFirstName</label>
                    </div>
                    <div>
                        <label>@modelUser.UserSecondName</label>
                    </div>
                    <div>
                        <label>@modelUser.Status</label>
                    </div>
                </div>
                <br />
            }

            @foreach (User modelUser in Model.Users)
            {
                <input type="hidden" value="@modelUser.Id" />
                <div>
                    <div>
                        <label>@modelUser.UserFirstName</label>
                    </div>
                    <div>
                        <label>@modelUser.UserSecondName</label>
                    </div>
                    <div>
                        <label>@modelUser.Status</label>
                    </div>                    
                    <label>@modelUser.ProjectId</label>
                </div>
                <br />
                <a asp-controller="Manager" asp-action="AddUserInProject" asp-route-projectId="@Model.ProjectModel.Id" asp-route-userId="@modelUser.Id">Add to project</a>
            }

        </div>        
        <div class="buttons-panel">
            <div class="buttons-panel-item">
                <a asp-controller="Project" asp-action="ProjectEdit" asp-route-id="@Model.ProjectModel.Id">Edit</a>
            </div>
            <button class="buttons-panel-item">delete</button>
        </div>
    </div>
</form>
